<div id="wrapper">
    <h1>Edit Product</h1>
    <form (submit)="addProduct()">
      <span class="content">Title</span><input id="title_text" type="text" name="title" [(ngModel)]="productTitle"><br>
      <span class="content">Price</span><input id="price_text" type="text" name="price" [(ngModel)]="productPrice"><br>
      <span class="content">Image URL</span><input id="imageUrl_text" type="text" name="imageUrl" [(ngModel)]="productImageUrl"><br>
      <button class="btn" (click)="updateProduct()">Update</button>
      <button class="btn" (click)="deleteProduct()">Delete</button>
    </form>
    <p id="ptag" *ngIf="errorMessage != undefined">
      {{errorMessage}}
    </p>
  </div>


